<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Mi primera plantilla
  <p style="color: red">Mi nombre es {{nombre}}</p>
  <p style="color: blue">Mi apellido es {{apellido}}</p>
  <p>{{creation_date}}</p>

  <h2>Notas de la universidad</h2>
  <p>
    {% for i in lista_notas%}
      {%if i < 4%}
        <p style="color: red">NOTA MALA: {{i}}</p>
      {%else%}<p style="color: blue">NOTA BUENA: {{i}}</p>
      {% endif %}
    {% endfor %}
  </p>
</body>
</html>
